<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Resume</title>
    </head>
    <body id='top'>
        <div id='cv'>
            <div class='mainDetails'>
                <div id='name'>
                    <h2>UGWUNNA, GERALD IZUCHUKWU</h2>
                    <h3>
                        <strong>Back-End Web Developer (Node.js)</strong>
                        <h4>
                            <a
                                href='geraldlouisugwunna@gmail.com'
                            >geraldlouisugwunna@gmail.com</a>
                        </h4>
                        <h4>+2348134601310</h4>
                    </h3>
                </div>

                <div id='headshot'>
                    <img
                        width='100'
                        height='100'
                        src='hngLogo.png'
                        alt='HNG LOGO'
                    />
                    <a href='https://internship.zuri.team'>Zuri Website</a>
                </div>
                <div class='clear'></div>
            </div>

            <div id='mainArea'>
                <section>
                    <article>
                        <div class='sectionTitle'>
                            <h1>Personal Profile</h1>
                        </div>

                        <div class='sectionContent'>
                            <p>
                                A young, vibrant and resourceful individual with
                                the zeal to learn and solve challenges. I am
                                software developer with a six months experience
                                in Node.js
                            </p>
                        </div>
                    </article>
                    <div class='clear'></div>
                </section>

                <section>
                    <div class='sectionTitle'>
                        <h1>Training Experience</h1>
                    </div>

                    <div class='sectionContent'>
                        <article>
                            <h2>Trainee at Zuri</h2>
                            <p class='subDetails'>April 2021 - July 2021</p>
                            <p>
                                I was introduced to JavaScript briefly before
                                proceeding to Node.js. I was able to Build a
                                CRUD app and also worked on two final projects.
                            </p>
                        </article>

                        <article>
                            <h2>Intern at InternHub</h2>
                            <p class='subDetails'>
                                September 2018 - October 2018
                            </p>
                            <p>
                                I was introduced to Arduino and
                                Micro-controllers. I and my team mates were able
                                to build a robot arm using Arduino
                            </p>
                        </article>
                    </div>
                    <div class='clear'></div>
                </section>

                <section>
                    <div class='sectionTitle'>
                        <h1>Key Skills</h1>
                    </div>

                    <div class='sectionContent'>
                        <ul class='keySkills'>
                            <li>Back-End Web Development</li>
                            <li>Team Work</li>
                            <li>Critical Thinking</li>
                            <li>Public Speaking</li>
                            <li>Effective Communication</li>
                            <li>Good Time Management</li>
                            <li>Leadership Skill</li>
                            <li>Adaptability</li>
                        </ul>
                    </div>
                    <div class='clear'></div>
                </section>

                <section>
                    <div class='sectionTitle'>
                        <h1>Education</h1>
                    </div>

                    <div class='sectionContent'>
                        <article>
                            <h2>Federal University of Technology Owerri</h2>
                            <p class='subDetails'>B.Eng(In View)</p>
                            <p>
                                A final Year student of Federal University of
                                Technology Owerri, in the department of
                                Electrical/Electronic Engineering and
                                specializing in Electronics/Computer Engineering
                            </p>

                        </article>
                    </div>
                    <div class='clear'></div>
                </section>

                <section>
                    <div class='sectionTitle'>
                        <h1>Contact Me</h1>
                    </div>

                    <div class='sectionContent'>

                        <div class='form'>
                            <form action='/' method='post'>
                                <label for='team_name'>Enter name: </label>
                                <input
                                    id='team_name'
                                    type='text'
                                    name='name_field'
                                    value=''
                                />
                                <label for='team_name'>Email: </label>
                                <input
                                    id='team_name'
                                    type='text'
                                    name='name_field'
                                    value=''
                                />
                                <label for='team_name'>Message </label>
                                <textarea
                                    rows='4'
                                    cols='50'
                                    id='team_name'
                                    type='text'
                                >
                                </textarea>
                                <br /><br />
                                <input
                                    type='submit'
                                    value='Send'
                                    class='center'
                                />
                            </form>
                        </div>
                    </div>
                    <div class='clear'></div>
                </section>
            </div>
        </div>
        {{! <div class='formcontact'>
            <h3>Contact Me</h3>
            <div class='form'>
                <form action='/' method='post'>
                    <label for='team_name'>Enter name: </label>
                    <input
                        id='team_name'
                        type='text'
                        name='name_field'
                        value=''
                    />
                    <label for='team_name'>Email: </label>
                    <input
                        id='team_name'
                        type='text'
                        name='name_field'
                        value=''
                    />
                    <label for='team_name'>Message </label>
                    <textarea rows='4' cols='50' id='team_name' type='text'>
                    </textarea>
                    <br /><br />
                    <input type='submit' value='Send' />
                </form>
            </div>
        </div> }}
    </body>

</html>